<!DOCTYPE html>
<html>
<head>
	<title>Disease Prediction</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
</head>
<body>
	<h1>Choose a Disease</h1>
	<form method="POST" action="/chose">
		<label for="disease">Select a disease:</label>
		<select name="disease" id="disease">
			<option value="diabetes">Diabetes</option>
			<option value="heart_disease">Heart Disease</option>
		</select>
		<br><br>
		<h1>Action Selection</h1>
		<label for="action">Select an action:</label>
		<select name="action" id="action">
			<option value="train">Train Model</option>
			<option value="single">Predict Single User</option>
		</select><br><br>
		<div class="center">
            <input type="submit" value="Submit">
        </div>
	</form>
</body>
</html>